#home,
#about,
#projects,
#contact {
	position: absolute;
	margin: 0 auto;
	width: 100vw;
	top: 0;
	height: 100vh;
	box-sizing: border-box;
	margin: 0 auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
	padding-top: 80px;

	&:target {

		opacity: 1;
		visibility: visible;
		transition: all 0.5s;
	}
}

@media (max-width: 1025px) {

	#home,
	#about,
	#projects,
	#contact {
		max-height: -webkit-fill-available;
		min-height: 500px;
	}
}